{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Brewfile hash: {{ includeTemplate "dot_config/homebrew/Brewfile.tmpl" . | sha256sum }}
brew bundle --file={{ .chezmoi.homeDir }}/.config/homebrew/Brewfile
{{ end -}}
